.app_principal{
    display: flex;
    align-items: center;
    justify-content: center
}

.app_station_details{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /*position: absolute;*/
    height: 85%;
    width: 80%;
    background: var(--bs-white);
    align-items: center;
    justify-content: center;
    table-layout: flex;
}

.app_station_details table {
    text-align: center;
    vertical-align: middle;
    font-size: large;
    overflow-x: auto;

}

.app_station_details th{
    width: 200px;
    vertical-align: middle

}

.th_id{
    width: 30px !important;
}

.td_model{
    display: flex;
    flex-direction: column;
    align-items: center;
    size: 10px !important;
}

.app_station_details td img{
    width: 10vh;
}
.imageSize{
    width: 10vh;
}

.bi-x-square-fill{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: #e1e619;
    border: none;
    cursor: pointer;
}

.btn-primary{
    color: white;
    border-color: #01182e;
    background-color: #01182e;
}

.btn-primary:hover{
    background-color: white;
    color: #01182e;
}

#fila_1{
    margin-right: 5px;
}

#fila_2{
    margin-right: 5px;
}

#fila_3{
    margin-right: 5px;
}

#fila_4{
    margin-right: 5px;
}
